<a href="https://colab.research.google.com/github/shfarhaan/Python-Basics/blob/main/Class_1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **What is a Variable?**

A Python variable is a reserved memory location (a container) to store values. In other words, a variable in a python program gives data to the computer for processing.

Every value in Python has a datatype. Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc.

Variables can be declared by any name or even alphabets  like a, aa, abc, etc

In [ ]:
a = 3
b = 4
c = 5

print(a)
print(b)
print(c)

3
4
5

In [ ]:
d, e, f = 7, 8, 9

print(d,e,f)

7 8 9

|  Type 	|  Naming Convention 	|   Examples	|
|---	|---	|---	|
|  Variable  |Use a lowercase single letter,word, <br> or words. Separate words with <br> underscores to improve readability.|		x, var, my_variable|



A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

## Input and Print Functions

* input() function takes the data from the console in the form of string. Moreover, we can pass a message to the input() function that will appear to the user before giving the data input. E.g. input("Enter a number:- ")
* If we pass multiple arguments to the input() function, then we will get the error.
* input() function returns the data in the string (str) format. Moreover, we can use the typecasting for type conversion. E.g. number = int(input("Enter a number:- "))
* Additionally, converting one type of data into other types of data is known as typecasting.
We can use the functions int, str, and float for the typecasting.

In [ ]:
number1 = input("Enter a number: ")
number2 = input("Enter a number: ")
number3 = input("Enter a number: ")

print(f"Here is the number1: {int(number1)}  then there is number 2: {int(number2)}  and then there is number3: {int(number3)} ")

In [ ]:
# Solved by List Comprehension (Advanced Topic)
variable1,*input_values=[int(x) for x in input("Please enter your values with a space in between: ").split()]

In [ ]:
print(type(number))

<class 'int'>

In [ ]:
input("Enter a string: ")

Enter a string: kjsdbjksbd

'kjsdbjksbd'

In [ ]:
# Taking input from the user
name = input("Enter your name: ")

print("Hello " + name)

Enter your name: lolo
Hello lolo

In [ ]:
number = int(input("Enter a number:- "))
result = number + 2
print(result)

Enter a number:- 34
36

## Practice Problem

Follow the instructions to write a program
1. Take a number as input from the user
2. Multiply it with 10 and divide the result by 10
3. Print the above the result

Follow the instructions to write a program
1. Take the user name as input and store it in a variable
2. Take the age of the user as a number and store it in a variable
3. Print the a line of string as follows
Output: Your name is \<user-name> and age \<user-age>

Follow the instructions to write a program
1. Take two numbers from the user as input
2. Add those two numbers
3. Print the result

## Error Handling

There are (at least) two distinguishable kinds of errors: syntax errors and exceptions.

### Syntax Errors
Syntax errors, also known as parsing errors, are perhaps the most common kind of error we get while we are still learning Python.

### Exceptions
Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions.

## Data Types

In Python we have several data structures, which are
fundamental in programming since they store information and
allow us to manage it.

## Data Types
 * **Text Type:**	str
 * **Numeric Types:**	int, float
 * **Sequence Types:**	list, tuple, range
 * **Mapping Type:**	dict
 * **Set Types:**	set
 * **Boolean Type:**	bool

 * **Type Keyword**  
 * Converting types

In [ ]:
taka = "One THOUSAND"

# taka = 20.050
print(type(taka))

<class 'str'>

[![data-Types.png](https://i.postimg.cc/7LtDJ4L5/data-Types.png)](https://postimg.cc/CZ899Wk0)

In [ ]:
habi = "kjvbskjdbvskjdbvibvkfviubverr"
print(type(habi))

<class 'str'>

In [ ]:
c = 23
print(type(c))

<class 'int'>

In [ ]:
c = 23.02736278638276
print(type(c))

<class 'float'>

In [ ]:
books = ["13123", "23982938", "87236"]
print(type(books))

<class 'list'>

In [ ]:
tuptup = (1,2,3, 4)
print(type(tuptup))

<class 'tuple'>

In [ ]:
Num = "23"
print(int(Num))

23

In [ ]:
dict = {"python": 3.7, "Ruby":2.2, "python": 2.3, "Ruby":2.5,}
print(dict)

#{"key": value}

{'python': 2.3, 'Ruby': 2.5}

## Operators
* Arithmetic Operators
* Comparison Operators
* Boolean Operators
* Assignment Operators
* Logical Operators

## Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:


| Operator | Name | Example |
|:-:|:-:|:-:|
| +	| Addition | x + y |
| -	| Subtraction  | 	x - y	|
| *	| Multiplication | 	x * y	|
| /	| Division	| x / y |
| %	| Modulus	| x % y	|
| **	| Exponentiation	| x ** y |
| //	| Floor division	| x // y |

<br>
**Arithmetic Operations in Python follows PEMDAS Rule.**

P = Parenthesis <br>
E = Exponentiation <br>
M = Multiplication <br>
D = Division <br>
A = Addition <br>
S = Substraction <br>

The operations are all conducted from left to right except for exponentiation it's operations are conducted right to left.

In [ ]:
x = 6
y = 3
z = 2

print(f"{x} plus {y} equals {x + y}")
print(f"{x} minus {y} equals {x - y}")
print(f"{x} times {y} equals {x * y}")
print(f"{x} divided {y} equals {x / y}")
print(f"{z} divided to the floor of {y} equals {z // y}")
print(f"{y} modulo of {z} equals {y%z}")
print(f"{y} to the power of {z} equals {y**z}")
print(f"The square root of 35 is equal to {35**0.5}")

6 plus 3 equals 9
6 minus 3 equals 3
6 times 3 equals 18
6 divided 3 equals 2.0
2 divided to the floor of 3 equals 0
3 modulo of 2 equals 1
3 to the power of 2 equals 9
The square root of 35 is equal to 5.916079783099616

## Comparison Operators
Comparison operators are used to compare two values:



| Operator | Name | Example |
|:-:|:-:|:-:|
| == |	Equal	| x == y	|
| != |	Not equal	| x != y|
| >	| Greater than |	x > y	|
| <	| Less than	| x < y	|
| >=	| Greater than or equal to |	x >= y |
| <=	| Less than or equal to	| x <= y |

## Boolean Operators

In programming you often need to evaluate if any expression is `True` or `False`. When you compare two values, the expression is evaluated and an Boolean output is generated.

In [ ]:
# print(10 > 9)
# print(10 = 9)
# print(10 < 9)

In [ ]:
age = 17
has_license = False

if (age >= 18) | (has_license == True):
    print("You can drive")
elif (age < 18) & (has_license == False):
    print("You can't drive yet. You must be 18 years old and have a license")
else:
    print("You can't drive. You need to have a license")

You can't drive yet. You must be 18 years old and have a license

### **Most Values are True**
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones. <br> <br>

### **Some Values are False**
In fact, there are not many values that evaluate to False, except empty values, such as `(), [], {}, "",` the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

## Assignment Operators

Assignment operators are used to assign values to variables:

| Operator | Example | Same As |
|:-:|:-:|:-:|
| =	| x = 5	| x = 5	|
| +=	| x += 3	| x = x + 3	|
| -=	| x -= 3	| x = x - 3	|
| *=	|  x *= 3	| x = x * 3	|
| /=	| x = 3	| x = x / 3	|
| %=	| x %= 3	| x = x % 3	|
| //=	| x //= 3	| x = x // 3	|
| **=	| x **= 3	| x = x ** 3	|
| &=	| x &= 3	| x = x & 3 |
| \|=	| x \|= 3	| x = x \| 3|
| ^=	| x ^= 3	| x = x ^ 3	|
| >>=	| x >>= 3	| x = x >> 3 |
| <<=	| x <<= 3	| x = x << 3|

## Logical Operators

Logical operators are used to combine conditional statements:
<br> <br>

| Operator | Description | Example |
|:-:|:-:|:-:|
| and |	Returns True if both statements are true |x < 5 and  x < 10 |
| or |	Returns True if one of the statements is true | x < 5 or x < 4	|
| not |	Reverse the result, returns False if the result is true	 | not(x < 5 and x < 10) |

## Indexing

The index() method returns the index position at which an item
is found in a list or a string. We can use it to explore strings, since it allows us to find the ocurrence of a character or a substring in another string.

[![indexing.png](https://i.postimg.cc/PqGWVp4W/indexing.png)](https://postimg.cc/PC4vPq0J)

In [ ]:
sentence = "In theory, theory and practice are the same. In practice, they are not."
print(sentence.index("practice", 0, -1))

22

In [ ]:
apple = "false fruit, fruit, fruit."
print(apple.index("fruit",10, -1))

13

In [ ]:
importance = ["Tumi", "TAKA", "Oxygen"]

print(importance[0])

Tumi

In [ ]:
importance = ["TAKA", "Tumi", "Oxygen"]

importance.index("TAKA")

0

In [ ]:
x= ["ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok","ma", "baba", "dada","rastar lok"]
print(x[-9])

rastar lok

# **String Methods**

- analyzing methods
- transformation methods
- splitting and joining methods

Note: <br>
**Strings are immutable:** once created, their parts cannot be modified, but the values of the variables can be reassigned through string methods

**Concatenable:** it is possible to join strings with the symbol +

**multipliable:** it is possible to concatenate repetitions of a string with the symbol *

**multilinear:** can be written on multiple lines by enclosing them in triple single quotes (''' ''') or double quotes (""" """)

**determine its length:** through the len(my_string) function

**check its content:** through the keywords in and not in. The result of this verification is a boolean (True / False).


**in-place methods:** The methods that act in the place modify the objects directly, without returning any other data than the action itself (for this reason, if we try to assign them to variables, they will be left empty)

## Analyzing Methods

`count( )` : returns the number of times a specified set of characters is repeated.

`find( )` and `index( )` return the location (starting at 0) where the given argument is found. They differ in that index raises ValueError when the  argument is not found, while find returns -1.

`startswith( )` and `endswith( )` indicate whether the string in question begins or ends with the set of characters passed as an argument, and return True or False accordingly.

`isdigit( )` : returns True if all the characters in the string are digits, or can form numbers, including those corresponding to oriental languages.

`isnumeric( )` : returns True if all characters in the string are numbers, it also includes characters with numeric connotation that are not necessarily digits (for example, a fraction)

`isdecimal( )` : returns True if all characters in the string are decimals, that is, formed by digits from 0 to 9.

`isalnum( )` : returns True all characters in the string are alphanumeric.

`isalpha( )` : returns True if all characters in the string are alphabetic.

`islower( )` : returns True if all characters in the string are lowercase.

`isupper( )` : returns True if all characters in the string are uppercase.

`isprintable( )` : returns True if all characters in the string are printable (that is, not special characters indicated by \...).

`isspace( )` : returns True if all characters in the string are spaces.

## Transformation Methods

Strings are actually immutable objects, so in reality all the methods below do not act on the original object but return a new one.

`capitalize( )` returns the string with its first letter /capitalized.

`encode( )` encodes the string with the specified character map and returns an instance of type bytes.

`replace( )` replaces one string with another.

`lower( )` returns a copy of the string with all its letters in lowercase.

`upper( )` returns a copy of the string with all its letters in uppercase.

`swapcase( )` change uppercase to lowercase and vice versa.

`strip( )`, `lstrip( )` & `rstrip( )` remove whitespaces that precede and/or follow the string.

`center( )`, `ljust( )` & `rjust( )` align a string to the center, left, or right. A second argument indicates with which character to fill the empty spaces (by default: blank space).

## Splitting and Joining methods

`split( )` splits a string based on a separator character (defaults: blanks). A second argument indicates the maximum number of splits that can take place (-1 by default, meaning an unlimited number of splits).

`splitlines( )` splits a string with each occurrence of a line break.

`partition( )` returns a tuple of three elements: the block of characters before the first occurrence of the separator, the separator itself, and the block after.

`rpartition( )` operates in the same way as the previous one, but starting from right to left.

`join( )` must be called from a string that acts as a separator to join the elements of a list into the same resulting string.

In [ ]:
["C" , "C++", "Python", "Java"]

['C', 'C++', 'Python', 'Java']

In [ ]:
word_list = ["Simple","is","better","than","complex."]

" ".join(word_list)

'Simple is better than complex.'

In [ ]:
string = "If the implementation is hard to explain, it might be a bad idea."

str1 = string.replace("hard", "easy")

str2 = str1.replace("bad", "good")

print(str2)

If the implementation is easy to explain, it might be a good idea.

In [ ]:
poem = """
Whitecaps on the bay:
A broken signboard banging
In the April wind.
"""

print("beach" in poem)

False

In [ ]:
long_word = "electroencephalographist"

print(len(long_word))

24

In [ ]:
fruits = ["apple", "banana", "mango", "cherry", "watermelon"]

deleted_item = fruits.pop(2)

print(fruits)

print(deleted_item)

['apple', 'banana', 'cherry', 'watermelon']
mango

# Control Flow
Control Flow determines the order in which the code of a program is executed. In Python, the flow is controlled by conditional structures, loops, and functions.


* Conditional statements
* Loops and Iterables
* Break and Continue statements
* Try-Except statements

In [ ]:
num1 = input("Please enter a number... ")
num2 = input("Please enter another number... ")

if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 < num2:
    print(f"{num1} is less than {num2}")
else:
    print(f"{num1} is equal to {num2}")

## The "for" loop
For loops iterate over a given sequence.

[![flowchart-loop.jpg](https://i.postimg.cc/NFCKfYm3/flowchart-loop.jpg)](https://postimg.cc/JHJrPfTx)

Here is an example:

In plain English:


```python
names = ["Peter", "Spider-man", "Wolverine", "Professor"]

for each item in names
    print("Hello " + item)

```

In [ ]:
names = ["Peter", "Spider-man", "Wolverine", "Professor"]

for item in names:
    print("Hello " + item)

Hello Peter
Hello Spider-man
Hello Wolverine
Hello Professor

In [ ]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [ ]:
students = ["Scooby", "Shaggy","Fred", "Velma", "Daphne"]
for student in students:
    print(f"Hello {student}")

Hello Scooby
Hello Shaggy
Hello Fred
Hello Velma
Hello Daphne

In [ ]:
list_numbers = [1,5,8,7,6,8,2,5,2,6,4,8,5,9,8,3,5,4,2,5,6,4]
sum_numbers = 0
for number in list_numbers:
    sum_numbers = sum_numbers + number

In [ ]:
list_numbers = [1,5,8,7,6,8,2,5,2,6,4,8,5,9,8,3,5,4,2,5,6,4]
sum_even = 0
sum_odd = 0
for number in list_numbers:
    if number % 2 == 0:
        sum_even = sum_even + number
    else:
        sum_odd = sum_odd + number

For loops can iterate over a sequence of numbers using the `"range"` and `"xrange"` functions. The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient.

Note that the range function is zero based.

In [ ]:
# Prints out the numbers 0,1,2,3,4
for x in range(1, 100, 10):
    print(x)

# # Prints out 3,4,5
# for x in range(3, 6):
#     print(x)

# # Prints out 3,5,7
# for x in range(3, 8, 2):
#     print(x)


# range(start_point, end_point(n-1), step)

In [ ]:
for x in range(10, 101, 5):
    print(x)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## "while" loops
While loops repeat as long as a certain boolean condition is `True`. For example:

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [ ]:
# Fstring
name = input("Enter your name: ")

print(f"{name} is my name")

Enter your name: farhaan
farhaan is my name

In [ ]:
number = 10

while number > 0:
    print(f"The number is : {number}. ")
    number -= 1

The number is : 10.
The number is : 9.
The number is : 8.
The number is : 7.
The number is : 6.
The number is : 5.
The number is : 4.
The number is : 3.
The number is : 2.
The number is : 1.

In [ ]:
number = 50
while number >= 0:
    if number % 5 == 0:
        print(number)
        number -= 1
    else:
        number -= 1

50
45
40
35
30
25
20
15
10
5
0

In [ ]:
list_numbers = [-1,-5,-6,1,-4,-3,5,6,]
for each_number in list_numbers:
    if each_number > 0:
        print(each_number)
        continue
    else:
        pass

-1
-5
-6
1
-4
-3
5
6

## "break", "pass" and "continue" statements

- If the code hits a `break` statement, the loop exits.
- The `continue` statement interrupts the current iteration within the loop, bringing the program to the top of the loop.
- The `pass` statement does not alter the program: it's a placeholder for when a statement is expected, but no action is desired.

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [ ]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

## Can we use "else" clause for loops?

Unlike languages like C, CPP.. we can use else for loops. When the loop condition of "for" or "while" statement fails then code part in "else" is executed. If a break statement is executed inside the for loop then the "else" part is skipped. Note that the "else" part is executed even if there is a continue statement.

Here are a few examples:

In [ ]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [ ]:

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

## Nested Loops

A loop inside another loop is called a nested loop. The inner loop will be performed once for each iteration of the outer loop.

In [ ]:
nanan_ronger = ['yellow', 'black', 'green', 'purple' ]
onek_gula_fol = ['mango', "grape"]

for rong in nanan_ronger:
  for fol in onek_gula_fol:
    print(rong, fol)

yellow mango
yellow grape
black mango
black grape
green mango
green grape
purple mango
purple grape

## Range

In [ ]:
sum_squares = 0

for i in range(1,16):
    sum_squares += i**2
    print(f"{sum_squares}")

1
5
14
30
55
91
140
204
285
385
506
650
819
1015
1240